﻿<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <h4 class="accounts-heading">Welcome to Ticketonpoint!</h4>
        <h5 class="accounts-heading-sec">Log in using your email and password </h5>
        <form class="form-horizontal" ng-submit="signIn()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="EMAIL" ng-model="user.email"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="PASSWORD" ng-model="user.password"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block">LOG IN</button>
            </div>
        </form>
        <p class="text-center signup-link">Dont have an account ? <a ng-click="signup()" href="">Sign Up</a></p>
    </div>
</div>