﻿<div class="container" ng-init="signup_init();">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <h4 class="accounts-heading">Welcome to Ticketonpoint!</h4>
            <h5 class="accounts-heading-sec">Sign Up</h5>
            <form class="form-horizontal" ng-submit="addUser()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="EMAIL" ng-model="user.email" focus-me="emailFocus" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="PASSWORD" ng-model="user.password" focus-me="passwordFocus" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="REPEAT PASSWORD" ng-model="user.confirmpassword" focus-me="cfmPasswordFocus" />
                </div>
                <div class="form-group">
                    <label>
                        <input type="checkbox" ng-model="subscriptionpaid_freeaccount">
                        Do you want to sign up for Subscription paid?
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-submit btn-block">SIGN UP</button>
                </div>
            </form>
            <p class="text-center signup-link">Already have an account ? <a ng-click="signin()" href="">Sign in</a></p>
            <h4 class="text-center" style="margin-top:20px; margin-bottom:15px">Sign up with</h4>
            <div class="col-xs-6">
                <button ng-click="fbSignup()" class="btn btn-submit btn-block">FACEBOOK</button>
            </div>
            <div class="col-xs-6">
                <button type="button" ng-click="googleSignup()" class="btn btn-submit btn-block">GOOGLE</button>
            </div>
        </div>
    </div>
</div>
