<div ng-controller="UserManagementController" class="header-body-space-div container" ng-init="update_init();">
    <div class="col-md-3 col-lg-3 col-sm-5">
        <div class="col-md-12 group-but-padding-div">
            <button class="btn btn-submit btn-block"><I>ACCOUNT SETTINGS</I></button>
        </div>
        <div class="col-md-12 group-but-padding-div">
            <button class="btn btn-submit btn-block">User Info</button>
        </div>
        <div class="col-md-12 group-but-padding-div">
            <button class="btn btn-submit btn-block">Log Out</button>
        </div>
    </div>
    <div class="col-md-9 col-lg-9 col-sm-6 user-details-div">
        <div ng-repeat="user in users">
            <user data="user" watch-depth="reference" />
        </div>
        <div ng-repeat="eventbut in eventbuts">
            <eventbut data="eventbut" watch-depth="reference"/>
        </div>
        <div ng-repeat="poster in posters">
            <poster data="poster" watch-depth="reference" />
        </div>
    </div>
    <input type="button" ng-click="user_edit()" class="user-edit" style = "display: none;">
    <input type="button" ng-click="photo_edit()" class="photo-edit" style = "display: none;">

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">User Edit</h4>
                </div>
                <div class="modal-body">
                    <h4>{{ users[0].first_name + ' ' + users[0].last_name}}</h4>
                    <div class="col-md-12 col-xs-12">
                        <div>
                            First Name: <input class="first_name_input form-control" ng-model='users[0].first_name'/>
                        </div>
                        <div>
                            Last Name: <input class="last_name_input form-control" ng-model='users[0].last_name'/>
                        </div>
                        <!--</div>-->
                    </div>
                    <p>Event visited: {{ users[0].events_cnt }}</p>
                    <p/>
                    <textarea class="details_input form-control" rows="4" >{{ users[0].details }}</textarea>
                    <p/>
                    City: <input class="city_input form-control" value = '{{ users[0].city }}' />
                    State: <input class="state_input form-control" value = '{{ users[0].state }}' />
                    <p/>
                    Phone: <input class="phone_input form-control" value = '{{ users[0].phone_num }}' /><p/>
                    Email: <input class="email_input form-control" value = '{{ users[0].email }}' /><p/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="onupdate_profile()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myPhotoModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Photo Upload</h4>
                </div>
                <div class="modal-body col-md-12 col-xs-12">
                    <h4>{{ users[0].first_name + ' ' + users[0].last_name}}</h4>
                    <div class="col-md-12 col-xs-12">
                        <div ng-show="imageCropStep == 1">
                            <br/>
                            <input class="btn btn-submit" type="file" name="fileInput" id="fileInput" onchange="angular.element(this).scope().fileChanged(event)" />
                        </div>

                        <div ng-show="imageCropStep == 2">

                            <image-crop
                                    data-height="220"
                                    data-width="220"
                                    data-shape="square"
                                    data-step="imageCropStep"
                                    src="imgSrc"
                                    data-result="result"
                                    data-result-blob="resultBlob"
                                    crop="initCrop"
                                    padding="250"
                                    max-size="1024">
                            </image-crop>
                        </div>

                        <div ng-show="imageCropStep == 2">
                            <br/>
                            <button class="btn btn-submit" ng-click="clear()">Cancel</button>
                            <button class="btn btn-submit" ng-click="initCrop = true">Crop</button>
                        </div>

                        <div ng-show="imageCropStep == 3">

                            <h2>My photo</h2>

                            <img ng-src="{{result}}"/>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="onphoto_update()">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>


