﻿<div class="top-nav">
    <div class="container col-md-offset-1 col-sm-offset-1">
        <a href="">
            <i class="glyphicon glyphicon-map-marker"></i>
            Czech Republuc
            <span class="caret"></span>
        </a>
        <ul class="accounts-link pull-right visible-xs">
            <li>
                <a ng-click="signin()" href="">Login</a>
            </li>
            <li>
                <a ng-click="signup()" href="">Sign up</a>
            </li>
        </ul>
    </div>
</div>
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2><a href="">Ticketonpoint</a></h2>

            </div>
            <div class="col-sm-9 text-right">
                <span class="hidden-xs">Welcome to Ticketonpoint .</span>
                <ul class="accounts-link hidden-xs">
                    <li>
                        <a ng-click="signin()" href="">Login</a>
                    </li>
                    <li>
                        <a ng-click="signup()" href="">Sign up</a>
                    </li>
                </ul>
                <a href="" class="btn btn-inverse">Sell tickets</a>
                <button type="button" class="btn btn-cart"><i class="glyphicon glyphicon-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</div>
<button class="menu-toggle">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
</button>
<nav>
    <div class="container">
        <ul class="main-menu">
            <li class="active"><a ng-click="featured()" href="">Featured</a></li>
            <li><a ng-click="concert()" href="">Concert</a></li>
            <li><a ng-click="cinema()" href="">Cinema</a></li>
            <li><a ng-click="bus()" href="">Bus</a></li>
            <li><a ng-click="airlines()" href="">Airlines</a></li>
            <li><a ng-click="conferences()" href="">Conferences</a></li>
            <li><a ng-click="components()" href="">Components</a></li>
        </ul>
    </div>
</nav>