﻿
h1,h2,h3,h4,h5,h6,p, a, span, body{
    font-family: 'Myriad Pro';
    letter-spacing:.5px;
}
a, .btn{
    -webkit-transition:ease-in-out .3s;
    -moz-transition:ease-in-out .3s;
    transition:ease-in-out .3s;
    outline:none !important;
}
a:hover,a:focus{
    text-decoration:none;
}
body, html{
    height:100%;
}
/*---------------------
        Top Nav
    -------------------*/
.top-nav{
    background:#303030;
    padding:7px 0;
    color:#ACACAB;
}
.top-nav a{
    color:#ACACAB;
    font-family: 'Myriad Pro';
    font-weight:normal;
    font-size:13px;
}
.top-nav a:hover{
    color:#f1f1f1;
    text-decoration:none;
}
.top-nav a i {
    font-size:13px;
    margin-right:4px;
}
/*-------------------------
         Header Section
    -----------------------*/
.top-header{
    padding:20px 0;
}
.top-header h2{
    margin:0;
    font-weight:bold;
}
.top-header h2 a{
    color:#676767;
    letter-spacing:0;
}
.top-header h2 a:hover{
    color:#707070;
}
.top-header span{
    font-size:14px;
    margin:9px 0;
    display:inline-block;
    color:#676767;
}
.top-header .accounts-link{
    list-style-type:none;
    display:inline-block;
    padding:0;
}
.accounts-link li{
    display:inline-block;
}
.accounts-link li a{
    padding:0 8px;
    position:relative;
    font-size:14px;
    color:#676767;
}
.accounts-link li a:hover{
    color:#303030;
}
.accounts-link li:first-child > a:after{
    content:"|";
    font-size:12px;
    color:#676767;
    right:-6px;
    position:absolute;
}
/*--------------------------------------------
                 Button
    ------------------------------------------*/
.btn{
    padding-top:10px;
    padding-bottom:10px;
}
.btn-inverse{
    color:#fff;
    background:#303030;
}
.btn-inverse:hover{
    background:#676767;
    color:#fff;
}
.btn-cart{
    background:#E6E6E6;
    color:#A4A5A4;
    margin-left:15px;
    width:42px;
    height:42px;
    font-size:20px;
    text-align:center;
    padding:9px 0;
    position:relative;

}
.btn-cart:after{
    content:"";
    width:15px;
    height:15px;
    border-radius:50%;
    background:#A4A5A4;
    position:absolute;
    top:-5px;
    right:-5px;
    border:2px solid #fff;
}
.menu-toggle{
    color:#303030;
    background:#A4A5A4;
    padding:0 15px;
    height:37px;
    line-height:40px;
    border:0;
    font-size:20px;
    position:absolute;
    top:55px;
    right:15px;
    float:right;
    display:none;
    transition:ease-in-out .6s;
    outline:none;
}
/*-------------------------
            Navigation
    -----------------------*/
nav{
    border:0;
    width:100%;
    height:50px;
    background:#A4A5A4;
}
nav ul.main-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}
nav .main-menu li{
    display:table-cell;
    text-align:center;
    float:none;
    width:1%;
}
nav .main-menu li a{
    display:block;
    line-height:50px;
    font-weight:bold;
    color:#FFFFFF;
    font-size:17px;
    text-transform:uppercase;
}
nav .main-menu li a:hover{
    color:#676767;
}

nav .main-menu > .active > a, 
nav .main-menu > .active > a:focus, 
nav .main-menu > .active > a:hover{
    background:#676767;
    color:#fff;
    width:100%;
    line-height:50px;
    display:block;
}
.my-account-nav{
    height:42px;
    background:#C7C7C7;
    margin-bottom:10px;
}
nav.my-account-nav .main-menu > .active > a,
nav.my-account-nav .main-menu > .active > a:focus,
nav.my-account-nav .main-menu > .active > a:hover {
    line-height:42px;
}
nav.my-account-nav .main-menu li a{
    line-height:42px;
    font-weight:normal;
}
/*----------------------------
       Accounts area style
    --------------------------*/
.accounts-heading{
    margin-top:50px;
    margin-bottom:0;
    font-weight:bold;
    text-align:center;
    font-size:18px;
}
.accounts-heading-sec{
    margin-top:5px;
    margin-bottom:25px;
    text-align:center;
    font-size:16px;
    font-weight:normal;
}
.form-group{
    padding-left:30px;
    padding-right:30px;
}
.form-control{
    height:44px;
    border-color:#C8C8C8;
    border-radius:5px;
    box-shadow:none;
}
.form-control:focus{
    border-color:#ACACAB;
    box-shadow: 0px 0px 6px rgba(48, 48, 48, 0.30);
}
.btn-submit{
    background:#E6E6E6;
    font-weight:bold;
}
.signup-link{
    color:#6C6C6C;
}
.signup-link a{
    color:#6C6C6C;
}
.signup-link a:hover{
     color:#303030;
}
/*------------------------------
         General Typography
    ----------------------------*/
.main-heading{
   font-weight:bold;
   font-size:17px;
   display:block;
   border-bottom:1px solid #E1E1E1;
   padding-bottom:15px;
   padding-left:20px;
   text-transform:uppercase;
   margin-bottom:20px;
}

/*---------------------------------
               Popular-concerts
    -------------------------------*/
.popular-concerts .col-sm-3,
.popular-concerts .col-xs-6{
    padding-left:7px;
    padding-right:7px;
}
.thumbnail{
    border:0;
    padding:0;
}
.thumbnail h4{
    margin-top:10px;
    margin-bottom:5px;
    font-size:18px;
}
.thumbnail p{
    margin-top:0;
    padding-top:0;
    font-size:13px;
}
.well{
    border-radius:5px;
    border:0;
    box-shadow:none;
    background:#E6E6E6;
    padding:130px 0;
    margin-bottom:0;
}
/*------------------------------
   *******  PAGES  *********
 -------------------------------*/
/******** tickets-owner-passed **********/

.agency-info{
    width:100%;
    padding:25px 15px 0 0;
}
.agency-info-heading{
    margin:0;
    display:block;
    background:#f1f1f1;
    width:100%;
    margin-bottom:3px;
    border-radius:4px;
    text-transform:uppercase;
    line-height:42px;
    padding-left:10px;
    font-weight:bold;
}
.agency-info-list{
    list-style-type:none;
    margin:0;
    padding:0;
}
.agency-info-list li a{
    background:#f1f1f1;
    display:block;
    width:100%;
    border-radius:4px;
    margin-bottom:3px;
    padding-left:10px;
    line-height:42px;
    color:#303030;
    font-size:15px;
}
.agency-info-list li a:hover{
    background:#C7C7C7;
}
.agency-info-list li.active > a{
    background:#ACACAB;
}
.agency-detail{
    width:100%;
    border-bottom:1px solid #E6E6E6;
    padding:25px 0 ;
}
.agency-detail p{
    font-size:13px;
    line-height:18px;
}
.agency-detail .col-sm-3{
    padding-right:0px;
    padding-left:0px;
}
.agency-detail-img{
    width:100%;
}
.agency-discription h4{
    font-size:15px;
    font-weight:bold;
    margin-top:0;
}
.agency-discription h4 small{
    color:#303030;
    font-size:13px;
}
.agency-discription .address{
    margin: 0;
    padding:5px 0 10px 0;
}
.agency-discription .address p{
    margin:0;
}
.agency-detail .btn-agency-light{
    background:#f1f1f1;
    color:#ACACAB;
    font-weight:bold;
    padding:8px 25px;
    margin-right:15px;
    margin-top:15px;
}
.agency-detail .btn-agency-dark{
    background:#A4A5A4;
    color:#303030;
    font-weight:bold;
    padding:8px 25px;
    margin-top:15px;
}
.agency-detail .border{
    border-bottom:1px solid #E6E6E6;
    margin-bottom:15px;
}
/*----------------------
         Media Queries
    --------------------*/
@media(max-width:767px){

    body{
        overflow-x:hidden;
    }
    .my-account-nav,
    nav{
        height:100%;
        width:200px;
        padding:0;
        position:fixed;
        right:0;
        margin-right:-200px;
        top:0;
        z-index:500;
        transition:ease-in-out .6s;
        overflow:auto;
    }
    .my-account-nav > .container,
    nav > .container{
        padding:0;
    }
    .my-account-nav .main-menu li,
    nav .main-menu li{
        display:block;
        text-align:left;
        border-bottom:1px solid #949494;
        width:100%;
    }
    .my-account-nav .main-menu li a,
    nav .main-menu li a{
        padding:0 20px;
        line-height:46px;
        font-size:14px;
        z-index:100;
    }
    .my-account-nav .main-menu li a:hover,
    nav .main-menu li a:hover{
        background:#ACACAB;
    }
    nav .main-menu > .active > a, 
    nav .main-menu > .active > a:focus, 
    nav .main-menu > .active > a:hover{
        background:#676767;
        color:#fff;
        width:100%;
        line-height:46px;
        display:block;
    }
    .active-nav{
        margin-right:0;
        box-shadow:0 1px 15px #303030;
        right:0;
    }
    .menu-icon-active{
        margin-right:185px;
        position:fixed;
        z-index:2000;
    }
    .menu-toggle{
        display:inline-block;
    }
        .accounts-link{
        margin:0;
        padding:0;
    }
    .accounts-link li a {
        padding: 0 4px;
        position: relative;
        font-size: 11px;
        color: #676767;
    }

    .accounts-link li a:hover {
        color: #fff;
    }

    .accounts-link li:first-child > a:after {
        content: "|";
        font-size: 12px;
        color: #676767;
        right: -4px;
        position: absolute;
        top:-1px;
    }
    .top-header .container .col-sm-9{
        text-align:center !important;
    }
    .top-header .col-sm-3 h2{
        margin-bottom:30px;
        display:inline-block;
    }
    .top-header{
        border-bottom:1px solid #f1f1f1;
    }
    .accounts-heading{
        margin-top:20px;
    }

    .thumbnail h4{
        margin-top:10px;
        margin-bottom:5px;
        font-size:16px;
    }
    .thumbnail p{
        font-size:12px;
    }
    .agency-detail .col-sm-3{
        padding-right:15px;
        padding-left:15px;
    }
    .agency-detail-img{
        width:100%;
        max-width:150px;
        min-width:100px;
        margin-bottom:20px;
    }
    .agency-detail .btn-agency-light,
    .agency-detail .btn-agency-dark{
        margin-left:20px;
    }
}
