<p>
  Hi {{firstName}} {{lastName}},
</p>
<p>
  Please follow the link bellow to to confirm your email address:
</p>
<p>
  <a href="http://localhost:8182/user/verify?code={{code}}">Verify Email</a>
</p>
<p>
  Thank you,
  <br />
  Ticket Cloud
</p>