<script>
    /*
     * jQuery UI Datepicker: Parse and Format Dates
     * http://salman-w.blogspot.com/2013/01/jquery-ui-datepicker-examples.html
     */
    $(function() {
        $("#datepicker").datepicker({
            dateFormat: "dd/mm/yy"
        });
    });
</script>

<div ng-controller="featuredController" class="container">
    <div class="row margin_top10">
        <div class="col-md-5"><input class="form-control" placeholder="Search for Articles or Band"></div>
        <div class="col-md-3 del-padding-left-space-div del-padding-right-space-div">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-map-marker"></i>
                <input type="text" placeholder="location" class="form-control" />
            </div>
        </div>
        <div class="col-md-2 del-padding-right-space-div">
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-calendar"></i>
                <input id="datepicker" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-2"><a href="" class="btn btn-inverse" style="width: 100%;">Find</a></div>
    </div>
    <div class="row mycar-slider">
        <!-- Full Page Image Background Carousel Header -->
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('images/slidertemp/1.png');"></div>
                    <div class="carousel-caption">
                        <h2>Caption 1</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('images/slidertemp/2.png');"></div>
                    <div class="carousel-caption">
                        <h2>Caption 2</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill" style="background-image:url('images/slidertemp/3.png');"></div>
                    <div class="carousel-caption">
                        <h2>Caption 3</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" data-slide="myslider-prev">
                <!--<span class="icon-prev"></span> href="#myCarousel"-->
            </a>
            <a class="right carousel-control" data-slide="myslider-next">
                <!--<span class="icon-next"></span>-->
            </a>

        </header>
    </div>
    <div class="row">
        <h3 style="text-align: center">PICK A CATEGORY</h3>
        <div ng-repeat="category in categories" class="col-md-2">
            <p/>
            <category data="category" watch-depth="reference" />
        </div>
    </div>
    <div class="row full_img_div">
        <h3 style="text-align: center">MOST POPULAR CONCERTS</h3>
        <div ng-repeat="smoke in smokes" class="col-md-3">
            <p/>
            <smoke data="smoke" watch-depth="reference" />
        </div>
    </div>
    <div class="row">

    </div>
</div>
<script>
    $('.carousel').carousel({
        interval: 2000 //changes the speed
    })
</script>


